<h1>Hello World</h1>
<a href=https://discordapp.com/api/oauth2/authorize?client_id=641665395413090319&redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Foauth&response_type=code&scope=identify%20guilds>Login with Discord</a>